@import form.accountservice.ResetPasswordForm
@import play.data.Form
@import views.html.front.component.FocusInput
@import views.html.helper.CSRF
@(form: Form[ResetPasswordForm], token: String)(implicit request: Http.Request, messages: play.i18n.Messages)

@front.common.BaseView(null, null, "account-page") {
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="account-content">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-12 col-lg-6 login-right">
                                <div class="login-header">
                                    <h3>@messages("views.front.resetPassword.title")</h3>
                                </div>
                                <p>
                                    @messages("views.front.resetPassword.message")
                                </p>
                                <form method="POST" action="@routes.ForgotPasswordController.POST_ResetPassword(token)">
                                    @CSRF.formField

                                    @FocusInput(form, form.field("password"), label = "views.front.registration.form.password", fieldType = "password", retrieveValue = false)

                                    @FocusInput(form, form.field("passwordConfirmation"), label = "views.front.registration.form.passwordConfirmation", fieldType = "password", retrieveValue = false)

                                    <button class="btn btn-cyan btn-block btn-lg login-btn" type="submit">@messages("views.front.resetPassword.submit")</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
