/*-----------------
	5. Select2
-----------------------*/

.select2-results__option {
    padding: 6px 15px;
}

.select2-container .select2-selection--single {
    border: 1px solid #dcdcdc;
    height: 46px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 44px;
    right: 7px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #dcdcdc transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #dcdcdc;
    border-width: 0 6px 6px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 30px;
    padding-left: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #272b41;
    font-size: 15px;
    font-weight: normal;
    line-height: 44px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #20c0f3;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #dcdcdc;
    min-height: 46px;
}

.select2-dropdown {
    border-color: #dcdcdc;
}
