.logo {
    padding: 0 10px;
}

.logo-small {

}

.text-logo {
    font-weight: 700;
    font-size: 24px;
    color: #333;
}

.header .header-left {
    text-align: left;
}

@media only screen and (max-width: 991.98px) {
    .header .header-left {
        text-align: left;
        margin-left: 2rem;
    }
}

.header-user-name {
    padding-left: 10px;
}

#dashboard-panel div[class*="col"] {
    margin-bottom: 1.875rem;
}

#dashboard-panel .card {
    margin-bottom: 0;
    height: 100%;
}

#dashboard-panel .card:hover {
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.5);
}
