*~
generated-data
.DS_Store
Thumbs.db
.idea
*.pyc
*.mo
*.jar
.idea
logs
target
name/name
name/.sbtserver
name/.sbtserver.lock
name/sbt-ui.sbt
conf/application-*.conf
.idea
.idea_modules
/.classpath
/.name
/.settings
/RUNNING_PID
/*.iml
/out
public/docs
/uikit/dist/*
!/uikit/dist/css/
/uikit/dist/css/*
!/uikit/dist/css/uikit.css
!/uikit/dist/css/uikit.min.css
!/uikit/dist/css/uikit-rtl.css
!/uikit/dist/css/uikit-rtl.min.css
!/uikit/dist/js/
/uikit/dist/js/*
!/uikit/dist/js/uikit.js
!/uikit/dist/js/uikit.min.js
!/uikit/dist/js/uikit-icons.js
!/uikit/dist/js/uikit-icons.min.js
/uikit/node_modules
/uikit/tests/js/test*
/uikit/tests/css/*
/uikit/custom
/uikit/themes.json
