@import models.account.AccountModel
@(validationUrl: String)(implicit request: Http.Request, messages: play.i18n.Messages)

@emailviews.BaseEmailView(null, "views.email.resetPassword.title") {

    <p>@messages("views.email.resetPassword.message")</p>

    <div style="text-align: center">
        <a class="btn btn-primary" href="@validationUrl">@messages("views.email.resetPassword.button")</a>
    </div>

    <p>
        @messages("views.email.resetPassword.alternate") :
        <br/>
        @validationUrl
    </p>
}
