@import play.data.Form
@import twirl.form.FieldAttrs
@(
        form: Form[_],
        field: play.api.data.Field,
        placeholder: String = "",
        label: String = null,
        labelClass: String = "",
        labelErrorClass: String = "",
        fieldType: String = "text",
        inputExtraClass: String = "",
        parentDivClass: String = "form-group auto-height",
        inputId: String = null,
        extraAttrs: Seq[(String, String)] = Seq(),
        rows: Integer = 5,
        before: Html = null,
        after: Html = null,
        retrieveValue: Boolean = true,
        devMode: Boolean = false
)(implicit messages: play.i18n.Messages)

@generateInput(iId: String, iClass: String, extraHtml: Html, fieldAttrs: FieldAttrs) = {
    <textarea id="@iId" class="@iClass" rows="@rows" name="@field.name" placeholder="@messages(placeholder)" @extraHtml>@{if(retrieveValue){field.value.getOrElse("")}}</textarea>
}

@back.component.UnderlyingInput(
    form = form,
    field = field,
    inputBaseClass = "form-control",
    inputRender = generateInput,
    label = label,
    labelClass = labelClass,
    labelErrorClass = labelErrorClass,
    inputExtraClass = inputExtraClass,
    parentDivClass = parentDivClass,
    inputId = inputId,
    extraAttrs = extraAttrs,
    before = before,
    after = after,
    devMode = devMode)
